services:
  - type: web
    name: stock-webapp
    env: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: MONGO_URL
        sync: false

